<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/static/refresh_me.js"></script>
    <meta charset="UTF-8">
    <meta name="description" content="Cards Against Humanity">
    <!--Max 150 characters-->
    <meta name="keywords" content="Python, SQLALchemy, Flask">
    <meta name="author" content="Paul Mullins">

    <title>Demo Website</title>
    <!--Max 60 Characters-->
</head>

<body>
    <h1>Welcome to Paul Mullins's implementation of Cards Against Humanity</h1>
    <p>One can invite and see who they are going to play with here</p>
    <p>Game ID: {{game_id}}</p>
    <a href="/game_id/{{game_id}}">http://{{mah_domain}}:5000/game_id/{{game_id}}</a>
    {% if players == None %}
        <p>There are currently no players in your lobby</p>
    {% else %}
        {% if admin == True %}
            {% for i in player_range %}
                <form id="form_for_{{player}}" action="/play" method="post">
                    <input type="hidden" name="delete" value={{raw_players[i]}}>
                    {{players[i]}} <input type="submit" value="Remove"> <br><br>
                </form>
            {% endfor %}
            <form id="form_for_{{player}}" action="/play" method="post">
                <input type="hidden" name="delete" value="start">
                <input type="submit" value="Start Game"> <br><br>
            </form>
        {% else %}
            {% for player in players %}
            <p>Player {{player}} is in your game lobby</p>
            {% endfor %}
        {% endif %}
    {% endif %}
</body>

</html>