<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Cards Against Humanity">
    <!--Max 150 characters-->
    <meta name="keywords" content="Python, SQLALchemy, Flask">
    <meta name="author" content="Paul Mullins">

    <title>Demo Website</title>
    <!--Max 60 Characters-->
</head>

<body>
    <h1>Welcome to Paul Mullins's implementation of Cards Against Humanity</h1>
    <p>Choose one of the other players black cards</p>
    <a href="/cookie">Test setting a cookie</a>
</body>

</html>