<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Cards Against Humanity">
    <!--Max 150 characters-->
    <meta name="keywords" content="Python, SQLALchemy, Flask">
    <meta name="author" content="Paul Mullins">

    <title>Demo Website</title>
    <!--Max 60 Characters-->
</head>

<body>
    <h1>Welcome to Paul Mullins's implementation of Cards Against Humanity</h1>
    <p>PS It is written in python using Flask and SQLALchemy</p>
    <a href="/resetcookie">RESET COOKIE</a><br>
    <a href="/choose_name">Test setting a name</a><br>
    <a href="/play">Play</a>
</body>

</html>