<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Chapter 3 Exercise">
    <!--Max 150 characters-->
    <meta name="keywords" content="HTML,Javascript,CSS">
    <meta name="author" content="Paul Mullins">

    <title>Demo Website</title>
    <!--Max 60 Characters-->
</head>

<body>
    <h1>Welcome to Paul Mullins's implementation of Cards Against Humanity</h1>
    <p>PS It is written in python using Flask and SQLALchemy</p>
    <a href="/cookie">Test setting a cookie</a>
</body>

</html>