<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/static/refresh_me.js"></script>
    <meta charset="UTF-8">
    <meta name="description" content="Cards Against Humanity">
    <!--Max 150 characters-->
    <meta name="keywords" content="Python, SQLALchemy, Flask">
    <meta name="author" content="Paul Mullins">

    <title>Demo Website</title>
    <!--Max 60 Characters-->
</head>

<body>
    <a href="/">Welcome to Paul Mullins's implementation of Cards Against Humanity</a>
    <p>Current turn phase is <b>{{turn_phase}}</b></p>
    <p>Current turn number is {{turn_number}}</p>
    <hr/>
    {% for i in players_score %}
      {{player_names[i]}} has a score of {{players_score[i]}}<br>
      {{i}}<br>
    {% endfor %}
    {% if turn_phase == "ReadWhiteCard" and players_turn == True %}
        <h1>Waiting for other players to select a black card</h1>
        <p>You read {{players_white_card | safe}}</p>
        <h1>Currently waiting for other player</h1>
        {% for i in turn_white_cards %}
            {% if turn_white_cards[i] == None %}
                <p>{{ player_names[i] }} still has to choose</p>
            {% else %}
                <p>{{ player_names[i] }} has chosen</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if turn_phase == "ReadWhiteCard" and players_turn == False  and slow_down == False%}
        <p>{{player_names[user_id]}} reads out....</p>
        <h1>{{players_white_card | safe}}</h1>
        <h1>Please select one of your black cards below</h1>
        
        {% for i in players_hand[user_id] %}
            <form id="form_for_{{player}}" action="/game_id/{{game_id}}" method="post">
                <input type="hidden" name="turn_phase" value="{{turn_phase}}">
                <input type="hidden" name="black_card" value="{{i}}">
                <input type="submit" value="{{i}}"><br><br>
            </form>
        {% endfor %}
    {% endif %}

    {% if turn_phase == "ChooseWhiteCard" and players_turn == True %}
        <h1>Please choose one of the following cards to win</h1>
        {% for i in turn_white_cards.keys() %}
        <form id="form_for_{{player}}" action="/game_id/{{game_id}}" method="post">
            <input type="hidden" name="turn_phase" value="{{turn_phase}}">
            <input type="hidden" name="white_card_winner" value="{{turn_white_cards[i]}}">
            <input type="submit" value="{{turn_white_cards[i]}}"><br><br>
        </form>
        {% endfor %}
    {% endif %}

    {% if slow_down == True %}
        <h1>Please wait for other players to submit their white cards</h1>
    {% endif %}

    {% if turn_phase == "ChooseWhiteCard" and players_turn == False %}
        <h1>Please wait for other player to choose a round winner</h1>
    {% endif %}

    {% if turn_phase == "DisplayWinner" and players_turn == True %}
        <h1>Your black cards</h1>
    {% endif %}

    {% if turn_phase == "DisplayWinner" and players_turn == False %}
        <h1>Your black cards</h1>
    {% endif %}
    <hr/>
</body>

</html>